@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=PT+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Aboreto', cursive;
    font-weight: 400;
}
